{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">How would you like to get your access code?</h1>

		<form class="form validate" method="GET" action="mobile-phone" autocomplete="off" id="choose-verification-form">

			<div class="error-summary display-none">
				<p>Errors exist on this page, fix them.</p>
			</div>

            <div class="form-group">
                <div class="error-layer">
                    <fieldset>

                        <legend class="visuallyhidden">
                            Select one option
                        </legend>

                        <span id="access-code-error-message" class="error-message display-none" role="alert">Some error message</span>

                        <label for="mobile-phone" class="block-label selection-button-radio">
                            <input id="mobile-phone" type="radio" name="access-code" class="form-control" value="mobile-phone">
                            Mobile phone
                        </label>

                        <label for="landline" class="block-label selection-button-radio">
                            <input id="landline" type="radio" name="access-code" class="form-control" value="landline">
                            Landline
                        </label>

                    </fieldset>
                </div>
            </div>


			<div class="form-field-group">
				<button class="button" type="submit">Continue</button>
			</div>

		</form>






	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
