{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">We just need to confirm who you are</h1>

		<div class="text-container">
			<p>We are going to ask you some security questions based on the information the HMRC hold on you</p>
			<p>This is to help protect your data</p>
		</div>

		<a href="enter-details" class="button">Continue</a>

	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
