{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-xlarge">Create Account</h1>

		<div class="error-summary">
			<p>Errors exist on this page, fix them.</p>
		</div>

		<form class="form" method="GET" action="" autocomplete="off" id="create-account-form">

			<fieldset class="form-field-group row">
				<div class="error-layer">
					<label class="form-label-bold" for="email-address">Email address</label>
					<span id="email-address-error-message" class="error-message" role="alert">Some error message</span>
					<input type="text" name="email-address" id="email-address" value="" class="form-control" aria-required="true">
				</div>
			</fieldset>

			<fieldset class="form-field-group row">
				<div class="error-layer">
				<label class="form-label-bold" for="password">Create your password</label>
				<div class="form-hints">
						<p class="form-hint">Your password must:</p>
						<ul class="form-hint-list form-hint list-bullet">
							<li class="form-hint-list-item js-hint-password-rule" id="password-hint-rule-one" data-hint-rule="^[A-Za-z0-9]{8,12}$" data-hint-rule-flag="i">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
								be between 8 and 12 characters (letters and numbers only, no special characters)
							</li>
							<li class="form-hint-list-item js-hint-password-rule" id="password-hint-rule-two" data-hint-rule="[A-Za-z]+">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
								contain at least one letter (a-z)
							</li>
							<li class="form-hint-list-item js-hint-password-rule" id="password-hint-rule-three" data-hint-rule="[0-9]+">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
								contain at least one number (0-9)
							</li>
							<li class="form-hint-list-item js-hint-password-rule" id="password-hint-rule-four" data-hint-rule="^((?!password)[\S])+$" data-hint-rule-flag="i">
        <span class="form-hint-list-item__primary">
            <span class="form-hint-list-item__indicator"></span>
        </span>
								not contain the word 'password'
							</li>
						</ul>
					</div>
				<span id="password-error-message" class="error-message" role="alert">Some error message</span>
				<input type="password" name="password" id="password" value="" class="form-control" aria-required="true">

				<label class="form-label-bold" for="password-confirm">Confirm your password</label>
				<span id="password-confirm-error-message" class="error-message" role="alert">Some error message</span>
				<input type="password" name="password-confirm" id="password-confirm" class="form-control" aria-required="true">
				</div>
			</fieldset>


			<div class="form-field-group row">
				<button class="button" type="submit">Continue</button>
			</div>

		</form>



	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
