{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">Confirm your identity<br />
		<span>Enter your details</span></h1>

		<div class="text-container">
			<p>This will help us confirm who you are, so we know what questions to ask you.</p>
		</div>

		<form action="processing" method="post" class="form validate" id="enter-details-form" autocomplete="off">

			<div class="error-summary display-none">
				<p>Errors exist on this page, fix them.</p>
			</div>

			<!-- First name -->
			<div class="form-group">
				<div class="error-layer">
					<label class="form-label-bold" for="first-name">Full name</label>
					<span id="first-name-error-message" class="error-message display-none" role="alert">Some error message</span>
					<input type="text" class="form-control" id="first-name" name="first-name">
				</div>
			</div>

			<!-- Last name -->
			<div class="form-group">
				<div class="error-layer">
					<label class="form-label-bold" for="last-name">Last name</label>
					<span id="last-name-error-message" class="error-message display-none" role="alert">Some error message</span>
					<input type="text" class="form-control" id="last-name" name="last-name">
				</div>
			</div>

			<!-- National Insurance number -->
			<div class="form-group">
				<div class="error-layer">
					<label class="form-label-bold" for="ni-number">
						National Insurance number
						<span class="form-hint"> It's on your National Insurance card, benefit letter, payslip or P60.
							<br>For example, 'VO 12 34 56 D'.
						</span>
					</label>
					<span id="ni-number-error-message" class="error-message display-none" role="alert">Some error message</span>
					<input type="text" class="form-control" id="ni-number" name="ni-number">
				</div>
			</div>


			<!-- Date of birth -->
			<div class="form-group">
				<div class="error-layer">
					<fieldset>
						<legend class="form-label-bold">Date of birth</legend>

						<div class="form-date">

							<p class="form-hint">For example, 31 3 1980</p>

							<span id="dob-error-message" class="error-message display-none" role="alert">Some error message</span>

							<div class="form-group form-group-day">
								<label for="dob-day">Day</label>
								<input class="form-control" id="dob-day" name="dob-day" type="text">
							</div>

							<div class="form-group form-group-month">
								<label for="dob-month">Month</label>
								<input class="form-control" id="dob-month" name="dob-month" type="text">
							</div>

							<div class="form-group form-group-year">
								<label for="dob-year">Year</label>
								<input class="form-control" id="dob-year" name="dob-year" type="text">
							</div>
						</div>

					</fieldset>

				</div>
			</div>

			<!--<div class="form-group">-->
				<!--<details>-->
					<!--<summary><span class="summary">Help with date of birth</span></summary>-->
					<!--<div class="panel panel-border-narrow">-->
						<!--<p>-->
							<!--If you don’t know your exact date of birth, use the one you put on official documents (for example, your passport or driving licence).-->
						<!--</p>-->
						<!--<p>-->
							<!--If you can’t provide your date of birth you’ll have to send copies of identity documents through the post.-->
						<!--</p>-->
					<!--</div>-->
				<!--</details>-->
			<!--</div>-->

			<div class="form-group">
				<input type="submit" class="button" value="Continue">
			</div>

		</form>

	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
