{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">Your have successfully set up 2-step verification</h1>

		<div class="text-container">
			<p>You will be sent a new access code every time you log in</p>
		</div>

		<a href="confirm" class="button">Continue</a>

	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
