{% extends "nhs-layout.html" %}

{% block content %}

<main id="content" role="main">
	{% include "includes/phase_banner_alpha.html" %}

<div class="grid-row">
	<div class="column-two-thirds">

		<h1 class="heading-large">Set up 2-step verification</h1>

		<div class="text-container">

			<p>We are introducing an additional layer of security to your account.</p>
			<p>Your account will be protected by your password and access code.</p>
		</div>

		<a href="choose-verification" class="button button-get-started">Start</a>

	</div>

	<div class="column-third">



	</div>

	</div>
</main>

{% endblock %}
