
$nhs-blue:          #0072C6;

#global-header {
  background-color: $nhs-blue;
  border-bottom: 6px solid #e5f0f9;

  .header-wrapper {
    background-color: $nhs-blue;
  }

  #logo {
    background: none !important;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }

  img {
    width: 90px;
    visibility: visible !important;
    display: block;
  }
}

.open-government-licence {
  &.nhsbsa-licence {
    padding-left: 0 !important;
  }
}

input {
  border: 2px solid #6f777b;
  margin: 0;
  padding: 0.1em 0 0.1em 0.4em;
  box-sizing: border-box;
}

.form {
  padding-bottom: 2em;
}

.form-field-group, .form-field-single {
  margin-bottom: 1em;
  line-height: 1.6em;
  clear: both;
}

.error-summary {
  p {
    margin: 0;
  }
}

