
@import "nhs-colours";

.display-none {
  display: none;
}

h1 {
  span {
    color: $nhs-grey-1;
  }
}



#global-header {
  background-color: $nhs-blue;
  border-bottom: 6px solid $global-header-border;

  .header-wrapper {
    background-color: $nhs-blue;
  }

  #logo {
    background: none !important;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }

  img {
    width: 90px;
    visibility: visible !important;
    display: block;
  }
}

.open-government-licence {
  &.nhsbsa-licence {
    padding-left: 0 !important;
  }
}

.form {
  padding-bottom: 2em;
}

.form-field-group, .form-field-single {
  margin-bottom: 1em;
  line-height: 1.6em;
  clear: both;
}


.form-hint {
  margin: 0;
}
.form-hints {
  padding-bottom: 0.5em;
  ul {
    padding-top: 0.5em;
  }
}

input + label {
  padding-top: 1em;
}

.error,
.error-summary {
  border-width: 3px !important;
  .form-control {
    border-width: 2px !important;
  }
}

.error {
  .selection-button-radio::before,
  .form-control {
    border-color: $nhs-dark-red !important;
  }
}

.spinner {
  text-indent: -9000px;
  width: 100px;
  height: 100px;
  background: url("/public/images/spinner.gif") center center no-repeat #ffffff;
  margin: 0 auto;
}

.center-aligned {
  text-align: center;
}



