
$nhs-blue:          #0072C6;



.display-none {
  display: none;
}



#global-header {
  background-color: $nhs-blue;
  border-bottom: 6px solid #e5f0f9;

  .header-wrapper {
    background-color: $nhs-blue;
  }

  #logo {
    background: none !important;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }

  img {
    width: 90px;
    visibility: visible !important;
    display: block;
  }
}

.open-government-licence {
  &.nhsbsa-licence {
    padding-left: 0 !important;
  }
}

.form {
  padding-bottom: 2em;
}

.form-field-group, .form-field-single {
  margin-bottom: 1em;
  line-height: 1.6em;
  clear: both;
}


.form-hints {
  padding-bottom: 0.5em;

  .form-hint {
    margin: 0;
  }

  ul {
    padding-top: 0.5em;
  }
}

input + label {
  padding-top: 1em;
}


.error,
.error-summary {
  border-width: 3px !important;
  .form-control {
    border-width: 3px !important;
  }
}



