
$nhs-blue:          #0072C6;




p {
  margin: 0 !important;
  padding: 0 !important;
  line-height: 130% !important;
}





#global-header {
  background-color: $nhs-blue;
  border-bottom: 6px solid #e5f0f9;

  .header-wrapper {
    background-color: $nhs-blue;
  }

  #logo {
    background: none !important;
    border-bottom: none;
    &:hover {
      border-bottom: none;
    }
  }

  img {
    width: 90px;
    visibility: visible !important;
    display: block;
  }
}

.open-government-licence {
  &.nhsbsa-licence {
    padding-left: 0 !important;
  }
}

input {
  border: 2px solid #6f777b;
  margin: 0;
  padding: 0.1em 0 0.1em 0.4em;
  box-sizing: border-box;

  &:focus {
    outline: 3px solid #ffbf47;
    outline-offset: -3px;
  }
}

.form {
  padding-bottom: 2em;
}

.form-field-group, .form-field-single {
  margin-bottom: 1em;
  line-height: 1.6em;
  clear: both;
}


.form-hints {
  padding-bottom: 0.5em;

  ul {
    padding-top: 0.5em;
  }
}

input + label {
  padding-top: 1em;
}

// errors
.error-summary {
  display: none;
  &.error {
    display: block;
  }
}

.error-layer {
  .error-message {
    display: none;
  }
  &.error {
    .error-message {
      display: block;
    }
  }
}

.text-container {
  padding-bottom: 1em;
}


